.coffee {
  &-component {
    width: 100%;
    height: 50vh;
    background-image: url("../assets/rockcoffee1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    &-container {
      width: 100%;
      height: 80%;
      font-family: "Roboto";
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;
    }
    &-header {
      font-size: 25px;
      font-weight: 300;
      margin: 10px 0 10px 0;
    }
  }
  &-overlay {
    width: 100%;
    height: 50vh;
    background: rgba(83, 83, 83, 0.3);
    position: absolute;
  }
}
