.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/rockcoffee2.jpg");
  background-position: center;
  background-size: cover;
  &-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(80, 80, 80, 0.3);
    z-index: 0;
  }
  &-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    z-index: 0;
    margin-bottom: 50px;
  }
  &-logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #a2c9db;
    margin-bottom: 50px;
  }
  &-header,
  &-header__smaller {
    margin: 0;
    font-family: "Roboto";
    font-weight: 900;
    color: white;
    font-size: 65px;
    &__smaller {
      font-size: 30px;
    }
  }
  &-text__smaller,
  &-text {
    z-index: 1;
    font-family: "Roboto";
    color: white;
    font-weight: 300;
    font-size: 22px;
    &__smaller {
      font-size: 15px;
    }
  }
}
