.nav {
  width: 25px;
  height: 25px;
  background-color: #a2c9db;
  border-radius: 50%;
}

.nav-button,
.nav-button__exit {
  cursor: pointer;
  font-size: 25px;
  z-index: 3;
  &__exit {
    position: absolute;
    top: 25px;
    right: 30px;
  }
}

.nav {
  &-screen {
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: #a2c9db;
    position: fixed;
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &-menu {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    &-link {
      cursor: pointer;
      font-family: "Roboto";
      font-weight: 200;
      font-size: 25px;
      color: white;
      margin-top: 20px;
      width: 100%;
      border-bottom: 0.5px solid white;
      transition: 0.3s;
      &:hover,
      &:active {
        transition: 0.3s;
        font-size: 27px;
      }
    }
  }
}
