.nav {
  width: 65px;
  margin-top: 5px;
  height: auto;
  margin-right: 10px;
  @media screen and (min-width: 750px) {
    width: 80px;
  }
  @media screen and (min-width: 1000px) {
    width: 100px;
  }
  &-logo-anchor {
    width: auto;
  }
}


.nav-button,
.nav-button__exit {
  cursor: pointer;
  font-size: 25px;
  z-index: 3;
  &__exit {
    position: absolute;
    top: 25px;
    right: 30px;
  }
}

.nav {
  &-screen {
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: #042033;
    position: fixed;
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &-menu {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    &-link {
      cursor: pointer;
      font-family: "Roboto Condensed";
      font-weight: 300;
      font-size: 25px;
      color: white;
      margin-top: 20px;
      width: 100%;
      border-bottom: 1px solid white;
      transition: 0.3s;
      text-decoration: none;
      &:hover,
      &:active {
        transition: 0.3s;
        font-size: 27px;
      }
      &__active {
        color: #FFF6CC;
        border-bottom: 1px solid #FFF6CC;
      }
    }
  }
}
