.newsletter {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Roboto';
  }
  &-header {
    font-size: 15px;
    color: #FFF6CC;
    font-weight: 300;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 75%;
    align-items: flex-start;
    &-input {
      margin: 15px 0 15px 0;
      width: 95%;
      background-color: transparent;
      border: none;
      border-bottom: .5px solid white;
      font-size: 15px;
      padding: 10px;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-weight: 300;
      color: white;
      outline: none;
      &::placeholder {
        color: rgba(250, 250, 250, .3);
        font-family: "Roboto";
        font-weight: 300;
      }
    }
  }
  &-error-message {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #D95B5B;
  }
}